<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>languages</key>
	<array>
		<string>Italian</string>
		<string>German</string>
		<string>Chinese</string>
	</array>
	<key>languageAttempts</key>
	<dict>
		<key>Italian</key>
		<integer>0</integer>
		<key>German</key>
		<integer>0</integer>
		<key>Chinese</key>
		<integer>0</integer>
	</dict>
	<key>longestStreak</key>
	<integer>0</integer>
	<key>attempts</key>
	<integer>0</integer>
	<key>correctAttempts</key>
	<integer>0</integer>
	<key>language</key>
	<string>Italian</string>
	<key>willCacheGrammarPages</key>
	<false/>
	<key>difficulty</key>
	<string>Easy</string>
	<key>hasSound</key>
	<true/>
	<key>speakingSpeed</key>
	<real>0.25</real>
</dict>
</plist>
