<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict> 
		<key>difficulty</key>
		<string>Easy</string>
		<key>word</key>
		<string>molto</string>
	</dict>
	<dict> 
		<key>difficulty</key>
		<string>Easy</string>
		<key>word</key>
		<string>bene</string>
	</dict>
	<dict> 
		<key>difficulty</key>
		<string>Easy</string>
		<key>word</key>
		<string>ciao</string>
	</dict>
</array>
</plist>