<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict><key>Italian</key><dict><key>uppercase</key><array><string>A</string>
<string>B</string>
<string>C</string>
<string>D</string>
<string>E</string>
<string>F</string>
<string>G</string>
<string>H</string>
<string>I</string>
<string>J</string>
<string>K</string>
<string>L</string>
<string>M</string>
<string>N</string>
<string>O</string>
<string>P</string>
<string>Q</string>
<string>R</string>
<string>S</string>
<string>T</string>
<string>U</string>
<string>V</string>
<string>W</string>
<string>X</string>
<string>Y</string>
<string>Z</string></array>
<key>lowercase</key><array><string>a</string>
<string>b</string>
<string>c</string>
<string>d</string>
<string>e</string>
<string>f</string>
<string>g</string>
<string>h</string>
<string>i</string>
<string>j</string>
<string>k</string>
<string>l</string>
<string>m</string>
<string>n</string>
<string>o</string>
<string>p</string>
<string>q</string>
<string>r</string>
<string>s</string>
<string>t</string>
<string>u</string>
<string>v</string>
<string>w</string>
<string>x</string>
<string>y</string>
<string>z</string></array></dict>
<key>Portuguese</key><dict><key>uppercase</key><array><string>A</string>
<string>B</string>
<string>C</string>
<string>D</string>
<string>E</string>
<string>F</string>
<string>G</string>
<string>H</string>
<string>I</string>
<string>J</string>
<string>K</string>
<string>L</string>
<string>M</string>
<string>N</string>
<string>O</string>
<string>P</string>
<string>Q</string>
<string>R</string>
<string>S</string>
<string>T</string>
<string>U</string>
<string>V</string>
<string>W</string>
<string>X</string>
<string>Y</string>
<string>Z</string></array>
<key>lowercase</key><array><string>a</string>
<string>b</string>
<string>c</string>
<string>d</string>
<string>e</string>
<string>f</string>
<string>g</string>
<string>h</string>
<string>i</string>
<string>j</string>
<string>k</string>
<string>l</string>
<string>m</string>
<string>n</string>
<string>o</string>
<string>p</string>
<string>q</string>
<string>r</string>
<string>s</string>
<string>t</string>
<string>u</string>
<string>v</string>
<string>w</string>
<string>x</string>
<string>y</string>
<string>z</string></array></dict>
<key>Polish</key><dict><key>uppercase</key><array><string>A</string>
<string>Ą</string>
<string>B</string>
<string>C</string>
<string>Ć</string>
<string>D</string>
<string>E</string>
<string>Ę</string>
<string>F</string>
<string>G</string>
<string>H</string>
<string>I</string>
<string>J</string>
<string>K</string>
<string>L</string>
<string>Ł</string>
<string>M</string>
<string>N</string>
<string>Ń</string>
<string>O</string>
<string>Ó</string>
<string>P</string>
<string>R</string>
<string>S</string>
<string>Ś</string>
<string>T</string>
<string>U</string>
<string>W</string>
<string>Y</string>
<string>Z</string>
<string>Ź</string>
<string>Ż</string></array>
<key>lowercase</key><array><string>a</string>
<string>ą</string>
<string>b</string>
<string>c</string>
<string>ć</string>
<string>d</string>
<string>e</string>
<string>ę</string>
<string>f</string>
<string>g</string>
<string>h</string>
<string>i</string>
<string>j</string>
<string>k</string>
<string>l</string>
<string>ł</string>
<string>m</string>
<string>n</string>
<string>ń</string>
<string>o</string>
<string>ó</string>
<string>p</string>
<string>r</string>
<string>s</string>
<string>ś</string>
<string>t</string>
<string>u</string>
<string>w</string>
<string>y</string>
<string>z</string>
<string>ź</string>
<string>ż</string></array></dict>
<key>French</key><dict><key>uppercase</key><array><string>A</string>
<string>B</string>
<string>C</string>
<string>D</string>
<string>E</string>
<string>F</string>
<string>G</string>
<string>H</string>
<string>I</string>
<string>J</string>
<string>K</string>
<string>L</string>
<string>M</string>
<string>N</string>
<string>O</string>
<string>P</string>
<string>Q</string>
<string>R</string>
<string>S</string>
<string>T</string>
<string>U</string>
<string>V</string>
<string>W</string>
<string>X</string>
<string>Y</string>
<string>Z</string></array>
<key>lowercase</key><array><string>a</string>
<string>b</string>
<string>c</string>
<string>d</string>
<string>e</string>
<string>f</string>
<string>g</string>
<string>h</string>
<string>i</string>
<string>j</string>
<string>k</string>
<string>l</string>
<string>m</string>
<string>n</string>
<string>o</string>
<string>p</string>
<string>q</string>
<string>r</string>
<string>s</string>
<string>t</string>
<string>u</string>
<string>v</string>
<string>w</string>
<string>x</string>
<string>y</string>
<string>z</string></array></dict>
<key>Spanish</key><dict><key>uppercase</key><array><string>A</string>
<string>B</string>
<string>C</string>
<string>D</string>
<string>E</string>
<string>F</string>
<string>G</string>
<string>H</string>
<string>I</string>
<string>J</string>
<string>K</string>
<string>L</string>
<string>M</string>
<string>N</string>
<string>Ñ</string>
<string>O</string>
<string>P</string>
<string>Q</string>
<string>R</string>
<string>S</string>
<string>T</string>
<string>U</string>
<string>V</string>
<string>W</string>
<string>X</string>
<string>Y</string>
<string>Z</string></array>
<key>lowercase</key><array><string>a</string>
<string>b</string>
<string>c</string>
<string>d</string>
<string>e</string>
<string>f</string>
<string>g</string>
<string>h</string>
<string>i</string>
<string>j</string>
<string>k</string>
<string>l</string>
<string>m</string>
<string>n</string>
<string>ñ</string>
<string>o</string>
<string>p</string>
<string>q</string>
<string>r</string>
<string>s</string>
<string>t</string>
<string>u</string>
<string>v</string>
<string>w</string>
<string>x</string>
<string>y</string>
<string>z</string></array></dict>
<key>Russian</key><dict><key>uppercase</key><array><string>А</string>
<string>Б</string>
<string>В</string>
<string>Г</string>
<string>Д</string>
<string>Е</string>
<string>Ё</string>
<string>Ж</string>
<string>З</string>
<string>И</string>
<string>Й</string>
<string>К</string>
<string>Л</string>
<string>М</string>
<string>Н</string>
<string>О</string>
<string>П</string>
<string>Р</string>
<string>С</string>
<string>Т</string>
<string>У</string>
<string>Ф</string>
<string>Х</string>
<string>Ц</string>
<string>Ч</string>
<string>Ш</string>
<string>Щ</string>
<string>Ъ</string>
<string>Ы</string>
<string>Ь</string>
<string>Э</string>
<string>Ю</string>
<string>Я</string></array>
<key>lowercase</key><array><string>а</string>
<string>б</string>
<string>в</string>
<string>г</string>
<string>д</string>
<string>е</string>
<string>ё</string>
<string>ж</string>
<string>з</string>
<string>и</string>
<string>й</string>
<string>к</string>
<string>л</string>
<string>м</string>
<string>н</string>
<string>о</string>
<string>п</string>
<string>р</string>
<string>с</string>
<string>т</string>
<string>у</string>
<string>ф</string>
<string>х</string>
<string>ц</string>
<string>ч</string>
<string>ш</string>
<string>щ</string>
<string>ъ</string>
<string>ы</string>
<string>ь</string>
<string>э</string>
<string>ю</string>
<string>я</string></array></dict>
<key>German</key><dict><key>uppercase</key><array><string>A</string>
<string>B</string>
<string>C</string>
<string>D</string>
<string>E</string>
<string>F</string>
<string>G</string>
<string>H</string>
<string>I</string>
<string>J</string>
<string>K</string>
<string>L</string>
<string>M</string>
<string>N</string>
<string>O</string>
<string>P</string>
<string>Q</string>
<string>R</string>
<string>S</string>
<string>T</string>
<string>U</string>
<string>V</string>
<string>W</string>
<string>X</string>
<string>Y</string>
<string>Z</string></array>
<key>lowercase</key><array><string>a</string>
<string>b</string>
<string>c</string>
<string>d</string>
<string>e</string>
<string>f</string>
<string>g</string>
<string>h</string>
<string>i</string>
<string>j</string>
<string>k</string>
<string>l</string>
<string>m</string>
<string>n</string>
<string>o</string>
<string>p</string>
<string>q</string>
<string>r</string>
<string>s</string>
<string>t</string>
<string>u</string>
<string>v</string>
<string>w</string>
<string>x</string>
<string>y</string>
<string>z</string></array></dict>
<key>Chinese</key><dict><key>uppercase</key><array><string>Ēi</string>
<string>Bǐ</string>
<string>Xī</string>
<string>Dí</string>
<string>Yī</string>
<string>Ài fú</string>
<string>Jí</string>
<string>Ài chǐ</string>
<string>Ài</string>
<string>Jié</string>
<string>Kāi</string>
<string>Ài lè</string>
<string>Ài mǎ</string>
<string>Ài nà</string>
<string>Ó</string>
<string>Pì</string>
<string>Jí wú</string>
<string>Ài ér</string>
<string>Ài sī</string>
<string>Tí</string>
<string>Yī wú</string>
<string>Wéi</string>
<string>Dòu bèi ěr wéi</string>
<string>Yī kè sī</string>
<string>Wú ài</string>
<string>Zéi dé</string></array>
<key>lowercase</key><array><string>ēi</string>
<string>bǐ</string>
<string>xī</string>
<string>dí</string>
<string>yī</string>
<string>ài fú</string>
<string>jí</string>
<string>ài chǐ</string>
<string>ài</string>
<string>jié</string>
<string>kāi</string>
<string>ài lè</string>
<string>ài mǎ</string>
<string>ài nà</string>
<string>ó</string>
<string>pì</string>
<string>jí wú</string>
<string>ài ér</string>
<string>ài sī</string>
<string>tí</string>
<string>yī wú</string>
<string>wéi</string>
<string>dòu bèi ěr wéi</string>
<string>yī kè sī</string>
<string>wú ài</string>
<string>zéi dé</string></array></dict>
</dict>
</plist>