<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>languages</key>
	<array>
		<string>Chinese</string>
		<string>French</string>
		<string>German</string>
		<string>Italian</string>
		<string>Polish</string>
		<string>Portuguese</string>
		<string>Russian</string>
		<string>Spanish</string>
	</array>
	<key>longestStreak</key>
	<integer>0</integer>
	<key>attempts</key>
	<integer>0</integer>
	<key>correctAttempts</key>
	<integer>0</integer>
	<key>language</key>
	<string>Italian</string>
	<key>gameMode</key>
	<real>0</real>
	<key>firstRun</key>
	<true/>
	<key>isUserLoggedIn</key>
	<false/>
	<key>willCacheGrammarPages</key>
	<false/>
	<key>difficulty</key>
	<string>Easy</string>
	<key>hasSound</key>
	<true/>
	<key>useLatinCharacters</key>
	<false/>
	<key>speakingSpeed</key>
	<real>0.25</real>
</dict>
</plist>
